html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.jumbotron {
    background-image: url("../assets/images/pizza.png");
    height: 346px;
    background-size: cover;
}

#search-stores {
    min-width: 200px;
}

